useDynLib(VorVQ, .registration = TRUE)
importFrom(Rcpp, evalCpp, cpp_object_initializer, loadModule)
importFrom(RcppParallel, RcppParallelLibs)
exportPattern("^[[:alpha:]]+")
importFrom(Rdpack,reprompt)
